.responsiveContainer{
    max-width: 1140px;

    @media(max-width: 1199px) {
        max-width: 960px;
    }

    @media(max-width: 991px) {
        max-width: 720px;
    }

    @media(max-width: 767px) {
        max-width: 540px;
    }

    @media(max-width: 575px) {
        max-width: 320px;
    }
}